 <div class="container container-hover">
    <div class="col-xs-12 col-sm-12 col-md-4 menu-hover-mobile">
        <a href="boutique-sponsorship.html" class="box-hover">
        <span>Boutique <br>Sponsorship</span>
        <span class="more-menu more-menu--close">&#43;</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 menu-hover-mobile border-top-menu">
        <a href="midia.html" class="box-hover">
        <span class="box-hover__title">Mídia</span>
        <span class="more-menu more-menu--close">&#43;</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 menu-hover-mobile border-top-menu">
        <a href="esport-e-educacao.html" class="box-hover">
        <span>Esportes & <br>Educação</span>
        <span class="more-menu more-menu--close">&#43;</span>
        </a>
    </div>
</div>