 <!-- Menu Mundos -->
<ul class="top-nav__link col-md-12 worlds-menu hidden">
    <li class="col-md-12 wd100">
        <a class="top-nav__link-first" title="menu">BSM no mundo</a>
    </li>
    <li class="col-md-4">
        <a title="Américas" class="col-md-12">Américas</a>
        <ul class="col-md-12">
            <li>
                <ul>
                    <li><span>Brasil</span></li>
                    <li class="worlds-menu-sub">São Paulo</li>
                </ul>
                <ul>
                    <li><span>Bolívia</span></li>
                    <li class="worlds-menu-sub">La Paz</li>
                </ul>

                <ul>
                    <li><span>ESTADOS UNIDOS</span></li>
                    <li class="worlds-menu-sub">Califórnia</li>
                    <li class="worlds-menu-sub">Flórida</li>
                    <li class="worlds-menu-sub">Nevada</li>
                    <li class="worlds-menu-sub">Washington, DC</li>
                </ul>

                <ul>
                    <li><span>México</span></li>
                    <li class="worlds-menu-sub">Cidade do México</li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="col-md-4">
        <a title="Europa" class="col-md-12">Europa</a>
        <ul class="col-md-12">
            <li>
                <ul>
                    <li><span>INGLATERRA</span></li>
                    <li class="worlds-menu-sub">Londres</li>
                </ul>
                <ul>
                    <li><span>PORTUGAL</span></li>
                    <li class="worlds-menu-sub">Lisboa</li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="col-md-4">
        <a title="Ásia" class="col-md-12">Ásia</a>
        <ul class="col-md-12">
            <li>
                <ul>
                    <li><span>CHINA</span></li>
                    <li class="worlds-menu-sub">Beijing</li>
                </ul>
                <ul>
                    <li><span>CÓREIA DO SUL</span></li>
                    <li class="worlds-menu-sub">Seul</li>
                </ul>
                <ul>
                    <li><span>Líbano</span></li>
                    <li class="worlds-menu-sub">Beirute</li>
                </ul>
                <ul>
                    <li><span>EMIRADOS ÁRABES UNIDOS</span></li>
                    <li class="worlds-menu-sub">Dubai</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<!--<ul class="top-nav__link col-md-12 worlds-menu">
    <li *ngFor="let continent of continents" class="col-md-4"><a class="top-nav__link-first">{{continent.name}}</a></li>
</ul>-->
