@font-face {
    font-family: 'Museo Sans 500';
    src: url('../fonts/MuseoSans-500.eot');
    src: url('../fonts/MuseoSans-500.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSans-500.woff') format('woff'),
        url('../fonts/MuseoSans-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 300';
    src: url('../fonts/MuseoSans-300.eot');
    src: url('../fonts/MuseoSans-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSans-300.woff') format('woff'),
        url('../fonts/MuseoSans-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('../fonts/MuseoSans-700.eot');
    src: url('../fonts/MuseoSans-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSans-700.woff') format('woff'),
        url('../fonts/MuseoSans-700.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 900';
    src: url('../fonts/MuseoSans-900.eot');
    src: url('../fonts/MuseoSans-900.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSans-900.woff2') format('woff2'),
        url('../fonts/MuseoSans-900.woff') format('woff'),
        url('../fonts/MuseoSans-900.ttf') format('truetype'),
        url('../fonts/MuseoSans-900.svg#MuseoSans-900') format('svg');
    font-weight: bold;
    font-style: normal;
}


* {outline: none;}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Museo Sans 500';
}
.home {
    background: url('../img/bsm-background-min.jpg');
    background-size: cover;
}
h4,
h5,
h6,
h1,
h2,
h3 {
    margin-top: 0;
}
ul,
ol {
    margin: 0;
}
p {
    margin: 0;
}
html,
body {} .background-video {
    position: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
}
.header {
    min-height: 90px;
}
.detail_header {
    border-bottom: none;
}
form.navbar-form.navbar-right {
    margin: 18px 0 0 0;
    font-family: 'Lato', sans-serif;
}

.btn-success {
    background-color: #407F8E !important;
    border: none;
    font-family: 'Lato', sans-serif;
}
.btn-success:hover {
    background-color: #ED8C23 !important;
}
.navbar-header {
    margin: -3px 0 0 0 !important;
}
.box_1-top {
    margin-top: 18em;
}
.banner-info h1 {
    text-transform: capitalize;
    font-size: 6.5em;
    color: #fff;
    margin: 0;
}
.banner-info p {
    margin: 1em auto 0;
    color: #eee;
    font-size: 2.2em;
    line-height: 1.8em;
    width: 80%;
}
/*-- top-nav --*/

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.top-nav {
    float: right;
    width: 4%;
    margin-top: 2.9em;
}
button#showRightPush, button.showRightPush {
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
}
.social-icons-sub {
    padding: 1em 0 0;
}
.social-icons-sub li a {
    padding: 0;
    border-bottom: none;
}
a.navbar-brand {
    float: left;
    height: 68px;
    padding: 35px 0 0;
    font-size: 3em;
    line-height: 20px;
    color: #407F8E !important;
}
a.navbar-brand span {
    color: #fff;
    font-size: 14px;
}
.top-nav-bottom a.active {
    background: #407F8E;
}
/*-- //top-nav --*/
/*-- banner --*/

.banner {
    background: url(../img/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 400px;
}
.banner h3 {
    text-transform: capitalize;
    font-size: 2em;
    margin: 5em auto 0;
    color: #fff;
    text-align: center;
    width: 80%;
    font-weight: 600;
    line-height: 1.5em;
}
.banner-info {
    text-align: center;
}
/*-- //banner --*/
/*-- banner-bottom --*/

.banner-bottom {
    padding: 5em 0;
}
.banner-bottom h3 {
    text-align: center;
    color: #407F8E;
    font-size: 2em;
    margin: 0;
}
p.ex {
    margin: 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
p.us {
    color: #999;
    text-align: left;
}
.banner-bottom-grids {
    margin: 3em 0 0;
}
.banner-bottom-grid-rel {
    position: relative;
}
.banner-bottom-grid-rel p {
    font-size: 5em;
    color: #DDDCDC;
    margin: 0;
    text-align: center;
}
.banner-bottom-grid-rel-pos {
    position: absolute;
    top: 30%;
    left: 5%;
}
.banner-bottom-grid-rel-pos p {
    font-size: 14px;
    color: #999;
    margin: 0 0 2em;
    line-height: 1.8em;
    text-align: left;
}
.more a {
    padding: 10px 20px;
    background: #414141;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
/*-- //banner-bottom --*/
/*-- features --*/

.features-grids {
    padding: 0 0 5em;
}
.features-grid-left {
    float: left;
    width: 40%;
    padding: 2em;
    background: #314246;
}
.features-grid-left h1 {
    color: #fff;
    font-size: 1.5em;
    margin: 0;
    text-transform: capitalize;
}
.features-grid-left h2 {
    font-size: 1.5em;
    color: #A2A2A2;
    margin: .5em 0;
}
.features-grid-left p {
    color: #fff;
    font-size: 14px;
    line-height: 1.8em;
    margin: 0;
}
.features-grid-left ul {
    padding: 1em 0 0;
}
ul.social-icons li {
    display: inline-block;
}
ul.social-icons li a.p {
    background: url(../img/img-sp.png) no-repeat -8px -15px;
    display: block;
    height: 32px;
    width: 32px;
}
ul.social-icons li a.p:hover {
    background: url(../img/img-sp.png) no-repeat -63px -15px;
    display: block;
}
ul.social-icons li a.facebook {
    background: url(../img/img-sp.png) no-repeat -8px -58px;
    display: block;
    height: 32px;
    width: 32px;
}
ul.social-icons li a.facebook:hover {
    background: url(../img/img-sp.png) no-repeat -63px -58px;
    display: block;
}
ul.social-icons li a.twitter {
    background: url(../img/img-sp.png) no-repeat -8px -103px;
    display: block;
    height: 32px;
    width: 32px;
}
ul.social-icons li a.twitter:hover {
    background: url(../img/img-sp.png) no-repeat -62px -103px;
    display: block;
}
ul.social-icons li a.in {
    background: url(../img/img-sp.png) no-repeat -8px -146px;
    display: block;
    height: 32px;
    width: 32px;
}
ul.social-icons li a.in:hover {
    background: url(../img/img-sp.png) no-repeat -60px -146px;
    display: block;
}
.features-grid-right:hover .features-grid-right-text {
    display: none;
}
.features-grid-right {
    float: right;
    width: 60%;
    background: url(../img/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 274px;
}
.features-grid-right:hover {
    background: url(../img/1-.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 274px;
}
.features-grid-right-text h4 {
    color: #fff;
    font-size: 2em;
    margin: 3em 0 .5em;
    text-align: center;
    letter-spacing: 3px;
}
.features-grid-right-text p {
    color: #E1E0E0;
    margin: 0;
    font-size: 14px;
    text-align: center;
}
/*-- //features --*/
/*-- team --*/
/*-- hover-effect --*/

.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
.ch-grid:after {
    clear: both;
}
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -o-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
}
.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}
.ch-info .ch-info-front {
    box-shadow: inset 0 0 0 16px rgb(49, 66, 70);
}
.ch-info .ch-info-back {
    -webkit-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
    -moz-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
    -o-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
    -ms-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
    transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
    background: #314246;
    opacity: 0;
}
.ch-img-1 {
    background-image: url(../img/2.jpg);
}
.ch-img-2 {
    background-image: url(../img/3.jpg);
}
.ch-img-3 {
    background-image: url(../img/4.jpg);
}
.ch-img-4 {
    background-image: url(../img/5.jpg);
}
.ch-info h3 {
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 24px;
    margin: 0 15px;
    padding: 60px 0 0 0;
    height: 110px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.ch-info p a {
    display: block;
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-decoration: none;
}
.ch-info p a:hover {
    color: #fff222;
    color: rgba(255, 242, 34, 0.8);
}
.ch-item:hover .ch-info-front {
    -webkit-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
    -moz-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
    -o-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
    -ms-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
    transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
    opacity: 0;
}
.ch-item:hover .ch-info-back {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    -moz-transform: rotate3d(1, 0, 0, 0deg);
    -o-transform: rotate3d(1, 0, 0, 0deg);
    -ms-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
    opacity: 1;
}
/*-- //hover-effect --*/

.team,
.important,
.typo,
.contact,
.gallery {
    padding: 5em 0;
}
.team {
    background: #407F8E;
}
.team h3,
.important h3,
h3.title,
.contact h3,
.gallery h3 {
    text-align: center;
    color: #fff;
    font-size: 2em;
    margin: 0;
}
/*-- //team --*/
/*-- footer --*/

.footer-top {
    margin: 10em 0 0;
}
.footer-top p {
    font-size: 14px;
    color: #fff;
    line-height: 1.8em;
    margin: 0;
}
.footer-top p a {
    border-bottom: none;
    color: #407F8E;
    padding: 0;
}
.footer-top p a:hover {
    background: none;
    color: #fff;
}
.footer {
    padding: 2em 0;
    text-align: center;
    background: #000;
}
.footer p {
    font-size: 14px;
    color: #fff;
    margin: .5em 0 0;
}
.footer p a {
    color: #407F8E;
    text-decoration: underline;
}
.footer p a:hover {
    color: #fff;
}
/*-- //footer --*/
/*-- important --*/

.important h3 {
    color: #407F8E;
    text-align: left;
}
h3.title,
.contact h3,
.gallery h3 {
    color: #407F8E;
}
.important h3 span {
    color: #000000;
}
.important-grid-right ul li,
.important-grid-left ul li {
    list-style-type: none;
    margin: 0 0 15px;
    background: url(../img/1.png) no-repeat 0px 7px;
    display: block;
    padding-left: 2em;
}
.important-grid-right ul li a,
.important-grid-left ul li a {
    font-size: 1em;
    color: #999;
    text-decoration: none;
    text-transform: capitalize;
}
.important-grid-right ul li a:hover,
.important-grid-left ul li a:hover {
    color: #407F8E;
}
.important-grid {
    margin: 3em 0 0;
}
p.ever {
    color: #999;
}
/*-- //important --*/
/*--Typography--*/

p.iste {
    color: #999;
}
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
    background: #e0e0e0;
}
.grid_3 {
    margin-bottom: 2em;
}
.xs h3,
h3.m_1 {
    color: #000;
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 1em;
}
.grid_3 p {
    color: #999;
    font-size: 0.85em;
    margin-bottom: 1em;
    font-weight: 300;
}
.grid_4 {
    background: none;
    margin-top: 50px;
}
.label {
    font-weight: 300 !important;
    border-radius: 4px;
}
.grid_5 {
    background: none;
    padding: 2em 0;
}
.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.hdg,
h3.bars {
    margin-bottom: 1em;
    color: #2B82AD;
    letter-spacing: 1px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: none !important;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 0;
}
.badge-primary {
    background-color: #03a9f4;
}
.badge-success {
    background-color: #8bc34a;
}
.badge-warning {
    background-color: #ffc107;
}
.badge-danger {
    background-color: #e51c23;
}
.grid_3 p {
    line-height: 2em;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 300;
}
.bs-docs-example {
    margin: 1em 0;
}
section#tables p {
    margin-top: 1em;
}
.tab-container .tab-content {
    border-radius: 0 2px 2px 2px;
    border: 1px solid #e0e0e0;
    padding: 16px;
    background-color: #ffffff;
}
.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 15px!important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    font-size: 0.9em;
    color: #999;
    border-top: none !important;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}
.label {
    font-weight: 300 !important;
}
.label {
    padding: 4px 6px;
    border: none;
    text-shadow: none;
}
.nav-tabs {
    margin-bottom: 1em;
}
.alert {
    font-size: 0.85em;
}
h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
    line-height: 1.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
li.list-group-item1 {
    line-height: 2.5em;
}
.input-group {
    margin-bottom: 20px;
}
.in-gp-tl {
    padding: 0;
}
.in-gp-tb {
    padding-right: 0;
}
.list-group {
    margin-bottom: 48px;
}
ol {
    margin-bottom: 44px;
}
h2.typoh2 {
    margin: 0 0 10px;
}
@media (max-width: 768px) {
    .grid_5 {
        padding: 0 0 1em;
    }
    .grid_3 {
        margin-bottom: 0em;
    }
}
@media (max-width: 640px) {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .grid_5 h3,
    .grid_5 h2,
    .grid_5 h1,
    .grid_5 h4,
    .grid_5 h5,
    h3.hdg,
    h3.bars {
        margin-bottom: .5em;
    }
    .progress {
        height: 10px;
        margin-bottom: 10px;
    }
    ol.breadcrumb li,
    .grid_3 p,
    ul.list-group li,
    li.list-group-item1 {
        font-size: 14px;
    }
    .breadcrumb {
        margin-bottom: 10px;
    }
    .well {
        font-size: 14px;
        margin-bottom: 10px;
    }
    h2.typoh2 {
        font-size: 1.5em;
    }
}
@media (max-width: 480px) {
    .table h1 {
        font-size: 26px;
    }
    .table h2 {
        font-size: 23px;
    }
    .table h3 {
        font-size: 20px;
    }
    .label {
        font-size: 53%;
    }
    .alert,
    p {
        font-size: 14px;
    }
    .pagination {
        margin: 20px 0 0px;
    }
}
@media (max-width: 320px) {
    .caption span {
        margin: 0 0 1.5em;
    }
    .grid_4 {
        margin-top: 18px;
    }
    h3.title {
        font-size: 1.6em;
    }
    .alert,
    p,
    ol.breadcrumb li,
    .grid_3 p,
    .well,
    ul.list-group li,
    li.list-group-item1,
    a.list-group-item {
        font-size: 13px;
    }
    .alert {
        padding: 10px;
        margin-bottom: 10px;
    }
    ul.pagination li a {
        font-size: 14px;
        padding: 5px 11px;
    }
    .list-group {
        margin-bottom: 10px;
    }
    .well {
        padding: 10px;
    }
    .nav > li > a {
        font-size: 14px;
    }
    table.table.table-striped,
    .table-bordered,
    .bs-docs-example {
        display: none;
    }
}
/*--//Typography --*/
/*-- contact --*/

.contact-bottom iframe {
    width: 100%;
    min-height: 400px;
    margin: 0 0 -5px;
}
.contact-left p {
    color: #999;
    font-size: 14px;
    line-height: 1.8em;
    margin: 0;
}
.contact-left p span {
    display: block;
    font-weight: 700;
}
.contact-left ul {
    padding: 1em 0 0;
    margin: 0;
}
.contact-left ul li {
    list-style-type: none;
    margin: 0 0 5px;
    font-size: 14px;
    color: #000;
}
.contact-left ul li a {
    color: #6D6D6D;
    text-decoration: none;
}
.contact-left ul li a:hover {
    color: #407F8E;
}
.contact-left input[type="text"],
.contact-left input[type="email"],
.contact-left textarea {
    background: none;
    border: 1px solid #D9D9D9;
    color: #A3A3A3;
    padding: 13px 10px;
    font-size: 14px;
    outline: none;
}
.contact-left input[type="text"],
.contact-left input[type="email"] {
    width: 32.7%;
    float: left;
}
.contact-left input[type="email"] {
    margin: 0 6px;
}
.contact-left textarea {
    min-height: 200px;
    resize: none;
    width: 100%;
    margin: 1em 0;
}
.contact-left input[type="submit"],
.contact-left input[type="reset"] {
    outline: none;
    color: #fff;
    font-size: 16px;
    padding: 13px 0;
    width: 49.68%;
    background: #314246;
    border: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.contact-left input[type="submit"]:hover,
.contact-left input[type="reset"]:hover {
    background: #407F8E;
}
.contact-left h4 {
    font-size: 1.8em;
    color: #314246;
    margin: 0 0 1em;
}
.contact-bottom {
    margin: 3em 0;
    padding: 1em;
    border: 1px dotted #555;
}
/*-- //contact --*/
/*-- gallery --*/

.gallery-grids {
    margin: 2em 0 0;
}
.gallery-grid1 img {
    padding: .5em;
    border: 1px dotted #f26f62;
}
.da-thumbs {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}
.da-thumbs li {
    float: left;
    margin: 0.4%;
    padding: 8px;
    position: relative;
    width: 32.4%;
}
.da-thumbs li a,
.da-thumbs li a img {
    display: block;
    position: relative;
    width: 100%;
}
.da-thumbs li a {
    overflow: hidden;
}
.da-thumbs li a div {
    position: absolute;
    background: rgba(49, 66, 70, 0.65);
    width: 100%;
    height: 100%;
}
.da-thumbs li a div span {
    display: block;
    padding: 10px 0;
    margin: 11px 20px 20px 20px;
    font-weight: normal;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 1.1em;
}
.da-thumbs li a div h5 {
    color: #FFF;
    font-size: 1.5em;
    margin: 3.5em 0 0 0;
    text-align: center;
    text-transform: capitalize;
}
/*-- //gallery --*/
/*-----start-responsive-design------*/

@media (max-width: 1280px) {
    .banner-info h1 {
        font-size: 5em;
    }
    .banner-info p {
        font-size: 2em;
    }
}
@media (max-width: 1023px) {
    .banner h3 {
        margin: 3em auto 0;
    }
    .banner {
        min-height: 280px;
    }
    .contact-left input[type="text"],
    .contact-left input[type="email"] {
        width: 32.6%;
    }
    .top-nav {
        width: 5%;
    }
    .da-thumbs li a div h5 {
        margin: 2.5em 0 0 0;
    }
    .ch-grid li {
        margin: 6px;
    }
    .banner-info h1 {
        font-size: 4.5em;
    }
    .banner-info p {
        font-size: 1.5em;
    }
}
@media (max-width: 768px) {
    .top-nav {
        width: 7%;
    }
    .banner h3 {
        width: 100%;
    }
    .features-grid-left,
    .features-grid-right {
        float: none;
        width: 100%;
    }
    .features-grid-right-text h4 {
        padding: 3em 0 0;
        margin: 0em 0 .5em;
    }
    .ch-grid li {
        width: 165px;
        height: 165px;
    }
    .ch-info .ch-info-front {
        box-shadow: inset 0 0 0 10px rgb(49, 66, 70);
    }
    .ch-info h3 {
        padding: 30px 0 0 0;
        font-size: 1.5em !important;
        height: 65px;
    }
    .banner-bottom,
    .team,
    .important,
    .typo,
    .contact,
    .gallery {
        padding: 4em 0;
    }
    .important-grid-left ul,
    .important-grid-right ul {
        padding: 0;
    }
    .da-thumbs li {
        padding: 0px;
    }
    .da-thumbs li a div h5 {
        margin: 1.5em 0 0 0;
    }
    .da-thumbs li a div span {
        margin: 0px 10px 0px 10px;
    }
    .contact-left h4 {
        margin: 0 0 0.5em;
    }
    .contact-left:nth-child(4) {
        margin: 0 0 2em;
    }
    .contact-left input[type="submit"],
    .contact-left input[type="reset"] {
        width: 49.79%;
    }
    .contact-bottom iframe {
        min-height: 300px;
    }
}
@media (max-width: 736px) {
    .box_1-top {
        margin-top: 3em;
    }
    .banner-info h1 {
        font-size: 2.5em;
    }
    .banner-info p {
        font-size: 1.4em;
        width: 100%;
    }
}
@media (max-width: 640px) {
    .box_1-top {
        margin-top: 12em;
    }
    .top-nav {
        width: 8%;
    }
    .banner h3 {
        margin: 2em auto 0;
        font-size: 1.5em;
    }
    .banner {
        min-height: 175px;
    }
    .banner-bottom,
    .team,
    .important,
    .typo,
    .contact,
    .gallery {
        padding: 3em 0;
    }
    .banner-bottom-grids {
        margin: 1em 0 0;
    }
    .ch-info h3 {
        padding: 60px 0 0 0;
        height: 110px;
    }
    .ch-grid li {
        width: 220px;
        margin: 10px 30px;
        height: 220px;
    }
    .da-thumbs li a div span {
        font-size: 14px;
        line-height: 1.6em;
    }
    .da-thumbs li a div h5 {
        margin: 0.5em 0 0 0;
    }
    .contact-bottom {
        padding: .5em;
    }
    .contact-left input[type="submit"],
    .contact-left input[type="reset"] {
        width: 49.7%;
    }
}
@media (max-width: 600px) {
    .box_1-top {
        margin-top: 4em;
    }
    .banner-info h1 {
        font-size: 2em;
    }
    .banner-info p {
        font-size: 1.2em;
    }
}
@media (max-width: 568px) {
    a.navbar-brand {
        height: 55px;
        padding: 25px 0 0;
        font-size: 2.5em;
    }
    .top-nav img {
        width: 100%;
    }
    .header {
        min-height: 70px;
    }
    .top-nav {
        margin-top: 1.3em;
    }
}
@media (max-width: 480px) {
    a.navbar-brand {
        font-size: 2.4em;
    }
    .top-nav {
        width: 10%;
    }
    .banner-info h1 {
        line-height: 1.3em;
    }
    .box_1-top {
        margin-top: 12em;
    }
    .features-grid-right,
    .features-grid-right:hover {
        min-height: 200px;
    }
    .features-grid-right-text h4 {
        padding: 2em 0 0;
    }
    .features-grids {
        padding: 0 0 3em;
    }
    .banner-bottom,
    .team,
    .important,
    .typo,
    .contact,
    .gallery {
        padding: 2em 0;
    }
    .banner-bottom h3,
    .team h3,
    .important h3,
    h3.title,
    .contact h3,
    .gallery h3 {
        font-size: 1.7em;
    }
    .da-thumbs li {
        float: none;
        width: 70%;
        margin: 0 auto 1em;
    }
    .da-thumbs li a div h5 {
        margin: 2.5em 0 0 0;
    }
    .banner h3 {
        font-size: 1.2em;
    }
    .footer {
        padding: 1.5em 0;
    }
    .contact-left h4 {
        font-size: 1.5em;
    }
    .contact-left input[type="text"],
    .contact-left input[type="email"] {
        width: 100%;
        float: none;
        padding: 10px;
    }
    .contact-left input[type="email"] {
        margin: 1em 0;
    }
    .contact-left input[type="submit"],
    .contact-left input[type="reset"] {
        width: 100%;
    }
    .contact-left input[type="submit"] {
        margin-bottom: 1em;
    }
}
@media (max-width: 414px) {
    .navbar-header {
        width: 60%;
        float: left;
    }
    .top-nav {
        width: 12%;
    }
    a.navbar-brand {
        font-size: 2.3em;
    }
}
@media (max-width: 384px) {
    a.navbar-brand {
        font-size: 2em;
    }
}
@media (max-width: 375px) {
    .navbar-header {
        width: 65%;
    }
    a.navbar-brand {
        font-size: 2.2em;
    }
}
@media (max-width: 320px) {
    a.navbar-brand {
        font-size: 2em;
    }
    .navbar-header {
        width: 74%;
    }
    a.navbar-brand span {
        font-size: 12px;
    }
    .top-nav {
        width: 14%;
        margin-top: 1.6em;
    }
    .box_1-top {
        margin-top: 6em;
    }
    .banner-info h1 {
        font-size: 1.8em;
    }
    .banner-info p {
        font-size: 1em;
    }
    .banner h3 {
        font-size: 1em;
        line-height: 1.8em;
    }
    .banner {
        min-height: 140px;
    }
    .banner-bottom h3,
    .team h3,
    .important h3,
    h3.title,
    .contact h3,
    .gallery h3 {
        font-size: 1.5em;
    }
    p.ex,
    .features-grid-left p,
    .features-grid-right-text p,
    .contact-left p,
    .contact-left ul li {
        font-size: 13px;
    }
    .contact-left ul {
        padding: 0;
    }
    .important-grid {
        margin: 2em 0 0;
    }
    .important h3 {
        line-height: 1.4em;
    }
    .footer p {
        font-size: 13px;
        margin: 0;
    }
    .da-thumbs li {
        width: 95%;
    }
    .contact-bottom {
        margin: 2em 0;
    }
    .contact-bottom iframe {
        min-height: 200px;
    }
    .banner-bottom-grid-rel p {
        font-size: 3em;
        margin: 0 0 1.5em;
    }
    .banner-bottom-grid,
    .contact-left {
        padding: 0;
    }
    .banner-bottom-grid-rel-pos p {
        font-size: 13px !important;
    }
    .features-grid-left {
        padding: 1em;
    }
    .features-grid-left h1,
    .features-grid-left h2 {
        font-size: 1.2em;
    }
    .contact-left h4 {
        margin: 0 0 .5em;
    }
    .contact-left input[type="text"],
    .contact-left input[type="email"] {
        font-size: 13px;
    }
    .contact-left textarea {
        min-height: 150px;
    }
}


@media (min-width: 1170px) {
  .container {
    padding: 0;
  }
}

.more-menu {
    color: #fff;
    font-size: 47px;
    display: block;
    text-align: center;
    border: 4px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 28px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.more-menu:hover {
    opacity: 1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.more-menu--close {
    background: #be1622;
    border: 0;
    width: 100px;
    height: 100px;
    font-size: 57px;
    line-height: 95px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
    margin-bottom: 2%;
    font-family: 'Museo Sans 300';
}

.close-wap {
  background: rgba(0, 0, 0, 0.59);
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  z-index: 300;
  left: 0;
  top: 0;
  display: none;
}

.cbp-spmenu-push-toleft .close-wap {
  display: block;
}

.box-hover:hover .more-menu--close, .more-menu--close:hover {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
}

.cbp-spmenu-open #showRightPush2 {
    float: left;
    margin-left: -106px;
    border: 0;
    background: none;
}

.active#showRightPush .more-menu, .active.showRightPush .more-menu {
    position: absolute;
    right: 30%;
}

.cbp-spmenu {
    background: url('../img/background-menu.png') #fff no-repeat 62px 0;
    background-size: 96%;
}

.top-nav__link {
    margin-top: 16%;
}

ul.top-nav__link li {
    list-style: none;
}

ul.top-nav__link li a {
    font-size: 27px;
    color: #1f355e;
    font-family: 'Museo Sans 300';
    text-align: left;
    letter-spacing: 14px;
    display: inline-block;
    float: left;
    padding: 0 10px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
}

ul.top-nav__link li a:hover {
    background: #f0f0f0;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
}

ul.top-nav__link li a.top-nav__link-first {
    color: #8b6e4a;
    font-family: 'Museo Sans 700';
    font-size: 31px;
}

ul.top-nav__link li.top-nav__link-first {
    padding-bottom: 01.5em;
}

ul.top-nav__link li a.top-nav__link-first:hover {
    background: none;
}

.img-globe {
    float: right;
    margin-top: 40px;
    webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.img-globe:hover {
    opacity: 1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.cbp-spmenu-push-toleft .img-globe {
    display: none;
}

.box-hover {
    border: 1px solid #fff;
    border-bottom: 0;
    border-radius: 240px 240px 0 0;
    position: fixed;
    bottom: 0;
    width: 390px;
    display: block;
    max-width: inherit;
    height: 80%;
    color: #fff;
    padding: 22% 25px 0 25px;
    font-family: 'Museo Sans 700';
    font-size: 29px;
    letter-spacing: 15px;
    line-height: 39px;
    background: rgba(0, 51, 153, 0.2);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
}

.box-hover:hover {
    color: #ffffff;
    text-decoration: none;
    background: #8c6e49;
    opacity: 0.6;

}

.container-hover .more-menu--close  {
    bottom: 0;
    position: fixed;
    padding-left: 15px;
}

@media (max-width: 1023px){
    .box-hover {
        width: 324px;
    }
}

.contato {
  background: url('../img/contato-background-all.jpg')  no-repeat center top;
  background-position: 46% 0;
}

#contact {
      margin-top: 510px;
}

#contact .form-control {
    background: #efefef;
    border: 0;
    border-radius: 0;
    padding: 20px 25px;
}

#contact textarea.form-control {
  max-width: 1110px;
}

#contact .text-required {
  color: 000000;
  font-size: 12.5px;
}

#contact label {
  color: #000000;
  font-family: 'Museo Sans 300';
  font-size: 20px;
  letter-spacing: 8px;
}

.contato__title {
    font-family: 'Museo Sans 500';
    color: #1f355e;
    font-size: 33px;
    padding: 225px 0;
    border: 2px solid #FFFFFF;
    border-left: 2px solid #8b6e4a;
    max-width: 520px;
}

.form-control::-webkit-input-placeholder {
  color: #b5b5b5;
  font-size: 16px;
}

.btn-xl2 {
    background: #8b6e4a;
    color: #fff;
    float: left;
    width: 290px;
    padding: 5.5px 0;
    border-radius: 50px;
    font-family: 'Museo Sans 300';
    font-size: 19px;
    letter-spacing: 13px;
    margin-top: 30px;
}

.btn-xl2:hover,
.btn-xl2:focus {
    color: #fff;
}

#message {
    min-height: 140px;
}

.text-danger {
  color: red;
}

/*Footer*/
footer {
  margin-top: 100px;
  width: 100%;
  background: #000000;
  overflow: hidden;
}
.footer {
  height: 190px;
  background: url('../img/footer.png') no-repeat 0 -44px;
}
/*Footer*/

/*Menu Mundos*/

.cbp-spmenu-vertical ul.worlds-menu {
    margin-top: 7%;
    margin-left: 30px;
}

.cbp-spmenu-vertical ul.worlds-menu ul {
    padding: 0;
}
.cbp-spmenu-vertical ul.worlds-menu li {
    text-align: left;
    padding: 1em 0 0.4em 0.4em;
}

.cbp-spmenu-vertical ul.worlds-menu li span {
    font-family: 'Museo Sans 900';
    text-transform: uppercase;
    color: #1f355e;
    font-size: 20px;
}

.cbp-spmenu-vertical ul.worlds-menu li.worlds-menu-sub {
    font-family: 'Museo Sans 300';
    color: #1f355e;
    font-size: 18px;
    padding: 2px 0.4em;
}

.cbp-spmenu-vertical ul.worlds-menu li.worlds-menu-sub::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    margin-right: 12px;
    width: 0;
    height: 0;
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-left: 20px solid #8b6e4a;
}
/* END Menu Mundos*/

/*Start Sobre*/
.sobre {
    background: url('../img/sobre-background.jpg')  no-repeat center top;
    background-position: 48% 0;
}
/*End Sobre*/

/*Start Midia*/
.midia {
    background: url('../img/midia-background.jpg')  no-repeat center top;
    background-position: 48% 0;
}

.button-radius-midia {
  border: 1px solid #000;
  display: inline-block;
  padding: 11px 30px;
  border-radius: 20px;
  float: left;
  margin: 1% 0 1% 4%;
  transition: 0.5s;
  width: 95%;
  text-align: center;
}

.button-radius-midia:hover {
  box-shadow: -1px 0px 18px #b4b4b4;
  transition: 0.5s;
}

.title-colection-button {
  display: block;
  padding-top: 24px;
}
/*End Midia*/

/*Start Sport e Educacao*/
.sportes-e-educacao {
    background: url('../img/sportes-e-educacao-background.jpg')  no-repeat center top;
    background-position: 48% 0;
}
/*End Sport e Educacao*/
/*Start Sport e boutique sponsorship*/
.boutique-sponsorship {
    background: url('../img/boutique-sponsorship-background.jpg')  no-repeat center top;
    background-position: 48% 0;
}
/*End Sport e boutique-sponsorship*/



@media(min-width: 1024px) and (max-width: 1209px) {
  .box-hover {
    width: 314px;
  }
}
/*Media > 1024*/
@media(max-width: 1023px) {
  .home {
    padding: 0;
  }

  .container.container-hover {
    padding: 0;
    margin-top: 30%;
  }

  #contact label {
    font-size: 13px;
  }

  .form-control::-webkit-input-placeholder {
      font-size: 13px;
  }

  .box-hover {
    position: relative;
    border: 0;
    font-size: 18px;
    padding: 0;
    width: 100%;
    float: left;
    letter-spacing: 8px;
    border-radius: 0;
    line-height: 25px;
    min-height: 50px;
    background: none;
    padding-bottom: 35px;
    margin-top: 35px;
  }

  .box-hover:hover {
    background: none;
  }

  .box-hover__title {
    display: inline-block;
    padding-top: 13px;
  }

  .more-1, .more-3 {
        margin-top: -28px;
  }

  .top-nav__link {
    margin-top: 37%;
    padding-left: 13px;
  }
  .no-padding-mobile {
    padding: 0;
  }

  .cbp-spmenu {
    background-size: 317%;
    background-position-x: 36px;
  }

  ul.top-nav__link.pages-menu li a {
    font-size: 16px;
    letter-spacing: 3px;
  }

  .cbp-spmenu-vertical ul.worlds-menu {
    margin-left: 4px;
  }

  .scroll-mobile ul.top-nav__link li a.top-nav__link-first,
  .scroll-mobile ul.top-nav__link li a {
    font-size: 16px;
  }

  .scroll-mobile ul.top-nav__link li > a::after  {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    margin-right: 12px;
    width: 0;
    height: 0;
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-left: 10px solid #8b6e4a;
  }

  .scroll-mobile ul.top-nav__link li > a.top-nav__link-first::after  {
    display: none;
  }

  .scroll-mobile {
    overflow-y: scroll;
    height: 100%;
    margin-top: 38%;
    width: 100%;
    padding-bottom: 50%;
  }

  .container-hover .more-menu--close {
    padding-left: 8px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 36px;
    position: absolute;
    right: 10%;
    margin-bottom: 0;
  }

  .sub-menu-worlds {
    display: none;
  }

  .cbp-spmenu-vertical ul.worlds-menu li span {
    font-size: 16px;
  }

  .img-globe {
    float: left;
    margin-top: 24px;
    max-width: 61px;
  }

  #showRightPush, .showRightPush {
    position: relative;
    top: 24px;
    right: 9px;
  }

  .more-menu {
    width: 29px;
    height: 29px;
    font-size: 23px;
    line-height: 18px;
  }

  .more-menu--close {
    width: 53px;
    height: 53px;
    font-size: 40px;
    line-height: 47px;
  }

  .cbp-spmenu-open #showRightPush2 {
    margin: -1px 0 0 -59px;
  }

  body  .cbp-spmenu-vertical {
    width: 86.2%;
  }

  .menu-hover-mobile {
      padding-right: 0;
  }
}

.no-padding {padding: 0;}
.no-padding-left {padding-left: 0;}
.no-padding-right {padding-right: 0;}
.no-padding-bottom {padding-bottom: 0;}
.no-padding-top {padding-top: 0;}

/*Contato*/
@media (max-width: 1023px) {
  .contact-bg .btn-xl2 {
    width: 140px;
    padding: 4.5px;
    font-size: 14px;
  }

  .contato {
    background-position: 28% 0;
    background-size: 270%;
  }

  #contact {
    margin-top: 60%;
  }
}

/*Sobre*/

.content-page {
  margin-top: 500px;
}

.content-page h1 {
  font-size: 31px;
  color: #8b6e4a;
  font-family: 'Museo Sans 500';
  margin-bottom: 60px;
  letter-spacing: 16px;
  line-height: 47px;
}

.content-page h1 span {
  color: #1a355e;
  text-decoration: underline;
}

.title-article-page  {
  margin-top: 50px;
}

.img-center-page {
  width: 100%;
}

.title-article-page p {
  color: #000000;
  font-size: 22.92px;
  line-height: 65px;
  text-align: justify;
}

.title-article-page span {
  font-weight: bold;
}

p.title-article-page__title {
  color: #8b6e4a;
}


.img-sobre-max-width {
  max-width: 870px;
}

.img-boutique-max-width {
  max-width: 910px;
  margin: 60px 0 90px 0;
}

.img-midia-max-width {
  max-width: 800px;
}

.img-esport-max-width {
  max-width: 656px;
}

.img-marcas {
  margin-top: 40px;
}

.video-sport-e-educacao {
  margin-top: 70px;
  width: 960px;
  height: 540px;
}

.table-multis-box {
  width: 100%;
}


/*Media < 500`*/
@media(max-width: 500px) {
  .sobre, .midia, .sportes-e-educacao, .boutique-sponsorship {
      background-position: 26% 0;
      background-size: 282%;
  }

  .img-boutique-max-width {
      margin: 60px 0 30px 0;
      width: 100%;
  }

  .content-page {
      margin-top: 290px;
  }

  .content-page h1 {
    font-size: 16px;
    letter-spacing: 5px;
  }

  .title-article-page p {
      font-size: 14px;
      line-height: 40px;
  }

  .button-radius-midia {
      margin: 2% auto;
      width: 75%;
      float: none;
  }

  .video-sport-e-educacao {
      width: 100%;
      height: 100%;
  }

  .img-marcas {
      width: 100%;
  }
}

.letter-spacing-0 {
  letter-spacing: 0;
}

.margin-top-link-menu {
      margin-top: 15px;
}


@media (max-height: 450px){
  .container.container-hover {
      margin-top: 3%;
  }

    .home {
      background-size: 140%;
      background-position: 46% 50%;
  }
}
